        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">

    <!-- Image (Logo) -->
    <img src="/img/logo.png" alt="logo" style: width="50px" ; height="50px">
    <a class="navbar-brand" href="#">Balpreet Kaur</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-max ml-auto mb-2 mb-lg-0">
        <b>
        <% if (title=="Home"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%>
          <a class="nav-link"  href="/"><i class="fas fa-lg fa-laptop-house"></i>&nbsp; &nbsp; &nbsp; &nbsp; Home</a>
        </li>
         <% if (title=="About"){%>
        <li class="nav-item active">
          <%}else{%>
            <li class="nav-item">
              <%}%>
          <a class="nav-link"  href="/about"><i class="fa-solid fa-address-card"></i>&nbsp; &nbsp; &nbsp; &nbsp; About</a>
        </li>
        <% if (title=="products"){%>
          <li class="nav-item active">
          <%}else{%>
        <li class="nav-item">
          <%}%>
          <a class="nav-link"  href="/products"><i class="fa-brands fa-product-hunt"></i>&nbsp; &nbsp; &nbsp; &nbsp; Projects</a>
        </li>
         <% if (title=="Services"){%>
          <li class="nav-item active">
          <%}else{%>
        <li class="nav-item">
          <%}%>
          <a class="nav-link"  href="/services"><i class="fa-brands fa-servicestack"></i>&nbsp; &nbsp; &nbsp; &nbsp; Services</a>
        </li>
        <% if (title=="Contact"){%>
          <li class="nav-item active">
          <%}else{%>
        <li class="nav-item">
          <%}%>
          <a class="nav-link"  href="/contact"><i class="fa-solid fa-address-book"></i>&nbsp; &nbsp; &nbsp; &nbsp; Contact</a>
        </li>
    </b>
        </ul>
    </div>
  </div>
</nav>